
<section class="row-section">
    <div class="container">
        <div class="row">
            <h2 class="text-center"><span>IronGrads List</span>
            </h2>
        </div>
        <div class="col-md-10 offset-md-1 row-block">            
            <ul>
            {{#each students}}
                {{#ifEquals this.visible "true" }}
                <li>
                    <div class="media">
                        <div class="media-left align-self-center">
                            <img class="rounded-circle" src="{{this.profile_image}}" onError="this.onerror=null;this.src='public/assets/images/profile-picture-placeholder.png'">
                        </div>
                        <div class="media-body">
                            <h4>{{this.fullname}} {{this.surname}}</h4><br>
                            <p>{{{trimString this.description }}}</p>
                            <p class="font-italic">Subject: {{this.subject}}</p>                            
                        </div>
                        <div class="media-right align-self-center">
                            <a href="/user/detail?id={{this._id}}" class="btn btn-default">View Details</a>
                        </div>
                    </div>
                </li>
                {{/ifEquals}}
            {{/each}}
            </ul>
        </div>
    </div>
</section>