<div class="container user-detail">
	{{#ifEquals currentUser._id student._id }}             
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-primary clearfix" role="alert">
				<div class="float-right">
				<button type="button" onclick="window.location.href='/user/edit'" class="btn btn-outline-primary">Edit Profile</button>
				
				{{#ifEquals student.visible "true" }}            
                		<button type="button" data-visible="{{student.visible}}" class="btn btn-outline-primary hide-show-profile">Hide Profile</button>	
            		{{/ifEquals}}

				{{#ifEquals student.visible "false" }}            
                		<button type="button" data-visible="{{student.visible}}" class="btn btn-outline-danger hide-show-profile">Show Profile</button>	
            		{{/ifEquals}}
				  
				</div>
			</div>            
		</div>
	</div>
	{{/ifEquals}}
	<div class="row">
		<div class="col-md-8">
			<div class="page-header">
				<h1>
					{{student.fullname}} {{student.surname}} <small>{{student.subject}}</small>
				</h1>
			</div>
            <div class="student-img-container clearfix"><img alt="{{student.fullname}} {{student.surname}}" src="{{student.profile_image}}" onError="this.onerror=null;this.src='/assets/images/profile-picture-placeholder.png'" class="rounded float-left" /> </div>
		</div>
		<div class="col-md-4">
			<h3>Contacts:</h3>
			<ul>
                {{#each contacts}}
				{{#if this.length}}
                    {{#ifEquals @key "homepage_link" }}
				<li class="list-item">
					<a href="{{this}}" target="_blank" title="{{this}}"><i class="fas fa-home"> Personal Home Page</i></a>
				</li>
                    {{/ifEquals}}

                    {{#ifEquals @key "phone_number" }}
				<li class="list-item">
                    <a href="tel://{{this}}" title="{{this}}"><i class="fas fa-phone"> {{this}}</i></a>
					
				</li>
                    {{/ifEquals}}

                    {{#ifEquals @key "email_contact" }}
				<li class="list-item">
					<a href="mailto:{{this}}" title="{{this}}"><i class="fas fa-envelope"> {{this}}</i></a>
				</li>
                    {{/ifEquals}}

                    {{#ifEquals @key "facebook_link" }}
				<li class="list-item">
					<a href="{{this}}" target="_blank" title="{{this}}"><i class="fab fa-facebook-square"> Facebook</i></a>
				</li>
                    {{/ifEquals}}

                    {{#ifEquals @key "github_link" }}
				<li class="list-item">
					<a href="{{this}}" target="_blank" title="{{this}}"><i class="fab fa-github-square"> Github</i> </a>
				</li>
                    {{/ifEquals}}

                    {{#ifEquals @key "linkedin_link" }}
				<li class="list-item">
                    <a href="{{this}}" target="_blank" title="{{this}}"><i class="fab fa-linkedin"> LinkedIn</i></a>					
				</li>
                    {{/ifEquals}}
				{{/if}}
                {{/each}}
			</ul>
            <hr>
            <h3>Details:</h3>
            <ul>
                <li>Name: {{student.fullname}}</li>
                <li>Surname: {{student.surname}}</li>
                <li>Age: {{student.age}}</li>
                <li>Languages: {{student.languages}}</li>
            </ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>
				About Me:
			</h3>
			<p>{{student.description}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
            <h3>Teacher Reviews:</h3>

            <div class="media comment-box">
            <div class="media-left">
                <a href="#">
                    <img class="img-responsive user-photo rounded-circle" src="{{currentUser.profile_image}}" onError="this.onerror=null;this.src='/assets/images/profile-picture-placeholder.png'">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{currentUser.fullname}} {{currentUser.surname}}</h4>
				<form id="add-update-review" action="/staff/add-review" method="get">
					<input type="hidden" name="student_id" value="{{student._id}}">
					<input type="hidden" name="teacher_id" value="{{currentUser._id}}">
					<input type="hidden" name="review_id" value="{{reviews._id}}">
					<textarea class="form-control" id="new_review" rows="5" name="new_review" required>{{reviews.review}}</textarea>
					<button type="submit" class="btn btn-outline-primary add-update-review-btn">Add/Update Review</button>
					{{#if student.reviews_ids}}
					<button class="btn btn-outline-danger remove-review-btn float-right">Remove Review</button>
					{{else}}
					<button class="btn btn-outline-danger remove-review-btn float-right" disabled>Remove Review</button>
					{{/if}}
				</form>
				
            </div>
        </div>


		</div>
	</div>
</div>
<script src="/js/user_details.js"></script> 